@page
@model razor_crud.Pages.Monsters.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-light">Create</h1>

<h4 class="text-primary">Monster</h4>
<hr />
<div class="row">
    <div class="col-md-4 text-success">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Monster.Name" class="control-label"></label>
                <input asp-for="Monster.Name" class="form-control" />
                <span asp-validation-for="Monster.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monster.Type" class="control-label"></label>
                <input asp-for="Monster.Type" class="form-control" />
                <span asp-validation-for="Monster.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monster.CR" class="control-label"></label>
                <input asp-for="Monster.CR" class="form-control" />
                <span asp-validation-for="Monster.CR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monster.Source" class="control-label"></label>
                <input asp-for="Monster.Source" class="form-control" />
                <span asp-validation-for="Monster.Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
